<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/js/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="/js/bootstrap.min.js"></script> 
   </head>
<style>
   .navbar {
 margin-top: 10px;
 margin-left: 100px;

}
</style>
<body>

   <nav class="navbar navbar-default navbar-fixed-top">
       <div class="input-group mb-3">
           <div class="input-group-prepend">
             <button class="btn btn-outline-secondary"  type="button"><a href="index">Dashboard</a></button>
           </div>
           <div class="input-group-prepend">
               <button class="btn btn-outline-secondary" href="history" type="button"><a href="history">History</a></button>
           </div>

           <div class="input-group-prepend">
               <button class="btn btn-outline-secondary" type="button"><a href="donate">Donate</a></button>
           </div>

           <div class="input-group-prepend">
               <button class="btn btn-outline-secondary" type="button"><a href="help">Help</a></button>
           </div>
         </div>

     </nav>
 </body>
 </html>